h1{
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.m-1{
  padding: 2%;
}
.title{
  width: fit-content;
}

  li{
    cursor: pointer;
  }

