<div class="container text-center py-5">
  <div class="row">
 <div class="col-md-12 pb-5">
  <h1>Inserisci, Modifica, Completa o Elimina i tuoi task!</h1>
 </div>
 <div class="col-md-12 py-5">

 </div>
 <div class="col-md-4 p-2">
  <div class="border rounded shadow-sm">
 <p class="fs-5 bg-light p-2">
    Unstarded
  </p>
  </div>
 </div>
 <div class="col-md-4 p-2">
  <div class="border rounded shadow-sm">
 <p class="fs-5 bg-light p-2">
In Progress
  </p>
  </div>
 </div>
 <div class="col-md-4 p-2">
  <div class="border rounded shadow-sm">
  <p class="fs-5 bg-light p-2">
Completed
  </p>
  </div>
 </div>
  </div>
</div>
