h1{
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.first-cards{
  position: relative;
  min-height: 300px;
.front{
  position: absolute;
  left:auto;
  transition:1.5s;
  top:50px
}
.retro{
  position: absolute;
  top: -700px;
  transition:1.5s
}
&:hover{
  .front{
    transition:1.5s;
    position: absolute;
    top:700px;
  }
  .retro{
    position: absolute;
    top: 50px;
    transition:1s
  }
}
}
.first-wave{
  width: 140%;
  position: relative;
  left: -85px;
  bottom: -20px;
  z-index: 0;
  height: 250px;
}
.bg-danger{
  z-index: 4;
}
.second-wave{
  width: 140%;
  position: relative;
  left: -85px;
  z-index: 0;
  top: -20px;
  height: 250px;
  transform: rotateX(180deg);
}
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
$animationSpeed: 40s;
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
.slider {
	background: rgba(255, 255, 255, 0.3)!important;;
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width:100%;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.slide {
		height: 100px;
		width: 350px;
	}
}
.typing{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  color: black;
  animation:
    typing 5.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.hover-effect{
  &:hover{
    .bg-black{
  transform: translateY(50px);
transition: 2s;
}
    .bg-white{
        transform: translateY(-50px);
transition: 2s;
    }
  }
  .bg-black{
  transition: 2s;
  }
      .bg-white{
  transition: 2s;
      }
}
.checklist{
  transition: 1s;
  &:hover{
    scale: 1.1;
    transition: 1s;
  }
}
.text-danger{
  transition: .5s;
  &:hover{
    scale: 1.1;
    color: greenyellow!important;
    transition: .5s;
  }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media screen and (min-width:992px) {
  .typing{
  overflow: hidden;
    }
}
@media screen and (max-width:991px) {
  .typing{
  overflow: scroll;
    }
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
}
