<div class="container">
  <div class="row border rounded shadow">
    <div class="col-md-12 text-end">
      <button class="btn" type="button" (click)="close()">❌</button>
    </div>
    <div class="col-md-12">
      <h1>Task - {{ task.id }}</h1>
      <form [formGroup]="taskForm" class="w-75 m-auto">
        <div class="row">
          <div class="col-md-8">
            <label class="p-4">{{"taskForm.title"|translate}}</label>
            <input
              type="text"
              class="form-control"
              placeholder="Place a title"
              formControlName="title"
              (input)="updatedTitle = taskForm.controls['title'].value"
            />
            <p class="text-danger" *ngIf="taskForm.controls['title'].invalid">
              {{"errors.invalidField"|translate}}
            </p>
          </div>
          <div class="col-md-4">
            <label class="p-4">{{"taskForm.status"|translate}}</label>
            <select class="form-select" formControlName="status">
              <option value=""></option>
              <option value="{{ s.nome }}" *ngFor="let s of stati">
                {{ s.nome }}
              </option>
            </select>
            <p class="text-danger" *ngIf="taskForm.controls['status'].invalid">
              {{"errors.invalidSelect"|translate}}
            </p>
          </div>
          <div class="col-md-12">
            <label class="p-4">{{"taskForm.description"|translate}}</label>
            <textarea
              class="form-control"
              placeholder="Place some text"
              formControlName="description"
            ></textarea>
            <p
              class="text-danger"
              *ngIf="taskForm.controls['description'].invalid"
            >
            {{"errors.invalidField"|translate}}
            </p>
          </div>
          <div class="col-md-12 py-4">
            <button class="btn" type="button" (click)="putTask()" [ngClass]="!background?'text-dark':'text-light'">
              {{"buttons.putTask"|translate}}
            </button>
            <button
              class="btn btn-danger"
              type="button"
              (click)="deleteTask(task.id)"
            >
            {{"buttons.deleteTask"|translate}}
          </button>
          </div>
        </div>
      </form>
      <p>{{"or"|translate}}</p>
      <hr />
      <h1>{{"titleTask"|translate}}</h1>
      <p>
        *{{"taskAdvice"|translate}}
      </p>
      <quill-editor
        placeholder="Enter Text"
        [modules]="quillConfig"
        (onSelectionChanged)="onSelectionChanged($event)"
        (onContentChanged)="onContentChanged($event)"
      ></quill-editor>
    </div>
  </div>
</div>
