<div class="row m-0 p-0" [ngClass]="!data[1]?'bg-white text-dark':'bg-dark text-light'">
<div class="container text-center p-4">
  <div class="row">
    <div class="col-md-12" mat-dialog-content>
      <h1 [ngClass]="!data[1]?'text-dark':'text-light'">
        {{"titleDeleteTask"|translate}}
        <span class="text-danger">{{ data[0] }}</span
        >?
      </h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn" [ngClass]="!data[1]?'text-dark':'text-light'" [mat-dialog-close]="true">{{"buttons.delete"|translate}}</button>
      <button class="btn btn-danger" [mat-dialog-close]="false">{{"buttons.Back"|translate}}</button>
    </div>
  </div>
</div>
</div>
