/* Importo globalmente le librerie che uso nell'applicazione, così come il font e lo style di alcuni html tag come 'button' e 'a' */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'ngx-toastr/toastr';
@import "~aos/dist/aos.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
html, body { height: 100%; }
* { margin: 0;  font-family: "Happy Monkey", system-ui;line-height: 1.05;
}
.btn,a{
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
a{
  text-decoration: none;
  color: black;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 100,
}
